body{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

/* Header */

.header-contain{
    margin: 0;
}

.header-contein-div1{
    background-color: rgba(0, 0, 0, 0.712);
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    align-items: center;
    padding: 10px;
}

.header-contein-lista{
    display: flex;
    list-style-type: none;
    gap: 1.4rem;
}

.header-contein-lista li{
    padding: 10px;
    outline: 1px solid yellow;
    color: yellow;
    letter-spacing: 0.08rem;
}

.header-contein-lista li:hover{
    text-decoration: underline;
}

.logo{
    padding: 10px;
}

.header-contein-divisao{
    background-image: linear-gradient(white, rgba(255, 255, 0, 0.795));
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header-contein-div2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-contein-div2 h1{
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-contein-div2 a{
    font-size: 1rem;
    text-decoration: none;
    padding: 10px;
    background-color: rgba(253, 253, 1, 0.993);
    width: 8rem;
    text-align: center;
    color: black;
    border-radius: 5px;
}

.header-contein-div2 a:hover{
    text-decoration: underline;
}

.header-contein-div3{
    width: 40rem;  
}

.imagem-mulher-back{
    height: 30rem;
    display: block;
    margin: auto;
}

/* Principais Cursos */

.section-contein{
    margin-top: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.section-contein-div-h1{
    display: block;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 0.05rem;
    margin-bottom: 5rem;
}

.section-contein-div-lista{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.section-contein-div-cursos{
    height: 23rem;
}

.section-contein-div-cursos h3{
    font-size: 1.3rem;
    text-align: center;
}

.section-contein-div-cursos p{
    width: 22rem;
    margin: auto;
    font-size: 1rem;
    height: 5rem;
    text-align: justify;
}

.section-contein-div-link{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    font-size: 1rem;
}

.section-contein-div-link a{
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 15px;
    width: 13rem;
    background-color: rgba(255, 255, 3, 0.842);
    border-radius: 10px;
    text-align: center;
    
}

/* Nossa Escola */

.section2-contein{
    margin-top: 7rem;
    background-color: rgba(2, 44, 84, 0.897);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section2-contein-div2{
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: rgba(255, 255, 255, 0.979);
}

.section2-contein-div-imagem img{
    height: 100%;
}

.section2-contein-div2 h2{
    font-size: 2rem;
}

.section2-contein-div2 p{
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.5rem;
}

.section3-contein{
    margin-top: 5rem;
}

.section3-contein-contatos{
    font-size: 1.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 5rem;
    text-align: center;
}

.section3-contein-map{
    display: block;
    width: 90%;
    margin: auto;
}

.section3-contein-map img{
    text-align: center;
    width: 100%;
}

.section3-contein-endereco{
    display: flex;
    margin: 2rem auto;
    width: 70%;
    font-size: 1.1rem;
    list-style-type: none;
    justify-content: space-evenly;
}

/* Footer */

.footer-contein{
    margin-top: 5rem;
    background-color: rgba(0, 0, 0, 0.712);
    font-size: 1rem;
    padding: 10px;
    color: rgba(255, 255, 255, 0.959);
}

.footer-contein p{
    text-align: center;
    letter-spacing: 0.01rem;
}