html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: max-content 1fr;
    /* grid-template-rows: 64px auto; */
    grid-template-rows: 4rem minmax(calc(100vh - 64px), auto);
}

.nav-contein{
    display: block;
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    background-color: white;
    max-height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
}

.nav-div-contein-menus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.top-nav{
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    background-color: rgba(0, 0, 0, 0.342);
    display: flex;
    background-color: white;
}

main{
    max-height: 100%;
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    background-color: rgb(235, 235, 235);
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    padding: 1em;
}

main > *{
    grid-column:  span 2;
}

main>.grid-half{
    grid-column: span 1;
}

main > figure{
    margin: 0;
}

img{
    max-width: 100%;
}

.nav-link-logo{
    display: inline-block;
    padding: 1rem 1rem 2rem 2rem;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
}

.nav-lista-contein, .top-nav-menu, .nav-lista2-contein{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 2rem;
}

.nav-lista-contein a, .top-nav-menu a, .nav-lista2-contein a{
    text-decoration: none;
    color: black;
}

.nav-lista-contein svg, .top-nav-menu svg, .nav-lista2-contein svg{
    vertical-align: middle;
    padding-right: .5rem;
}

.nav-lista-contein li, .top-nav-menu li, .nav-lista2-contein li{
    font-size: 1.2em;
    padding: 1rem;
}

.nav-lista-contein{
    padding-top: 1em;
}

.top-nav-contein-manu{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.top-nav-menu{
    display: flex;
    flex-grow: 1;
    gap: 5em;
}

.perfil{
    display: flex;
    align-items: center;
    padding-right: 5em;
    flex-direction: column;
    gap: .2rem;
}

#nome{
    font-size: 1.2em;
    margin: 0;
    padding-top: .5rem;
    text-transform: uppercase;
    font-weight: 700;
}

#cargo{
    font-size: 1.2em;
    margin: 0;
}

.nav-lista2-contein{
    padding-bottom: 2em;
}

.summary{
    border-radius: .5rem;
    background-color: white;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.summary > article{
    padding: 1rem;
}

.separated{
    width: 1px;
    background-color: rgba(0, 0, 0, 0.322);
    align-self: stretch;
    height: 100%;
}

.number{
    font-weight: 600;
    font-size: 1.5rem;
    padding-left: 1rem;
    color: rgb(78, 78, 228);
}

.btn{
    margin-right: 2rem;
    background-color: rgba(0, 0, 0, 0.575);
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.btn:hover{
    background-color: rgba(0, 0, 0, 0.822);
}