body{
    background-color: rgb(206, 206, 205);
}

.imagem{
    width: 70%;
    height: 400px;
    display: block;
    margin: auto;
}

.conteudo{
    display: block;
    width: 70%;
    margin: auto;
}

.div-info{
    display: inline-block;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px rgba(128, 127, 127, 0.315);
}

h4{
    padding-left: 10px;
    padding-top: 10px;
    text-indent: 7px;
    width: 80%;
    margin-bottom: 0px;
}

.info{
    text-indent: 20px;
    padding: 10px;
    text-align: justify;
}

.p-link{
    margin-bottom: 10px;
    height: 30px;
    width: 120px;
    text-align: center;
    
}

.link{
    display: inline-block;
    background-color: rgb(204, 203, 203);
    height: 20px;
    width: 100px;
    margin: auto;
    text-decoration: none;
    color: black;
}

.link:hover{
    color: blue;
    text-decoration: underline;
}

.footer{
    background-color: rgb(255, 255, 255);
    height: 20px;
    text-align: center;
}