
body{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

.header-contein{
    width: 100%;
    height: 100vh;
    background-image: url(imagens/topo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-contein-div{
    display: flex;
    color: white;
    background-color: rgba(0, 0, 0, 0.438);
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    height: 10vh;
}

.header-contein-div h1{
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0;
}

.header-contein-div ul{
    display: flex;
    font-size: 1.2rem;
    list-style-type: none;
    gap: 2rem;
    align-items: center;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.03em;
}

.header-contain-lista li:hover{
    text-decoration: underline;
}

.section-contein{
    margin-top: 5rem;
    font-size: 1.0rem;
}

.section-contein-div1{
    width: 50rem;
    margin: auto;
    text-align: center;
}

.section-contein-div1 h1{
    font-size: 2.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section-contein-div1 p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.4rem;
    text-align: justify;
    text-indent: 2.5rem;
    margin-top: 3rem;
}

.section-contein-imagens{
    margin: 3rem auto 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50rem;
}

.section-contein-div-modelo p{
    text-align: center;
    margin-top: 0.8rem;
    font-size: 1.0rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.div-contein-imagem-fundo{
    width: 100%;
    height: 100vh;
    background-image: url(imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-contein-imagem-conteudo{
    width: 40rem;
    color: white;
}

.div-contein-imagem-conteudo h1{
    font-size: 2.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.div-contein-imagem-conteudo p{
    font-size: 1rem;
    width: 30rem;
    margin-top: 3rem;
    text-indent: 2.5rem;
    text-align: justify;
    line-height: 1.4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-contein{
    color: white;
    background-color: rgba(0, 0, 0, 0.938);
    text-align: center;
    font-size: 1.2rem;
    
}

.footer-contein p{
    margin: 0;
    padding: 0.3rem;
    letter-spacing: 0.03em;
}