body {
    background-color: rgba(0, 0, 0, 0.863);
    margin: 0;
    padding: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    color: white;
}

.list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    list-style-type: none;
    width: 90%;
    max-width: 960px;
}

.list-item{
    background-color: white;
    flex-basis: 280px;
    border-radius: 5px;
    text-align: center;
    background-image: url(imagens/thumb02.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.list-item__imagem img{
    width: 80px;
    border-radius: 50%;
    margin-top: 120px;
}

.list-item__name{
    margin: 0;
    font-size: 24px;
    color: #385555;
}

.list-item__action{
    display: flex;
    background-color: #e5e5e5;
    padding: 16px;
    justify-content: space-evenly;
}