body{
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 62.5%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.747);
}

/* Cadastro */

.form-contein{
    display: flex;
    height: 60vh;
    width: 31vw;
    padding: 1em;
    background-color: white;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: -6px 0 0 0 rgba(255, 166, 0, 0.678);
}

.form-contein-field{
    display: flex;
    height: 55vh;
    width: 30vw;
    padding: 1em;
    flex-direction: column;
    border: none;
    justify-content: space-evenly;
    gap: 1.2rem;
}

.form-legend{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.form-contein-input{
    padding: .5rem;
    border: none;
    border-bottom: 2px solid black;
}

.form-contein-input:focus{
    border: none;
    padding-left: .8rem;
}

.div-contein{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.div-contein p{
    font-size: .9em;
}

.btn{
    width: 8rem;
    height: 2rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
    cursor: pointer;
}



/* Login */

.form-contein-login{
    background-color: white;
    padding: 1rem;
    height: 50vh;
    width: 31vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: -6px 0 0 0 rgba(255, 166, 0, 0.678);
}

.form-contein-field-login{
    height: 49vh;
    width: 30vw;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1rem;
}

.div-contein-geral{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.div2-contein a{
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
}

.div2-contein a:hover{
    text-decoration: underline;
}

.div2-contein-link{
    font-size: .8rem;
}